<Files "sacaliens.conf">
  Order Deny,Allow
  Deny from all
</Files>

RewriteEngine   on
RewriteRule		(.*)\.css$					$1.css	[L]	
RewriteRule		(.*)\.js$					$1.js	[L]	
RewriteRule		(.*)\.(jpg|png|gif)$		$1.$2	[L]	
RewriteRule     .*							index.php	[L]
