<?php

/*
 * This file is part of Sacaliens
 * Copyright (c) 2009 Patrick Paysant
 *
 * Sacaliens is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * Sacaliens is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *
 */

// ------------------------------------ database configuration
define('DB_HOST', 'localhost') ;
define('DB_USER', 'login') ;
define('DB_PASS', 'password') ;
define('DB_BASE', 'sacaliens') ;
define('DB_TABLE_PREFIX', 'sac_') ;

// ------------------------------------ language
define('DEFAULT_LANG', 'FR') ;

// ------------------------------------ paths
// ---------------- file path to the web root
define('SYS_WEB', '/var/www/www.mondomain.tld') ;
// ---------------- file path to the app
define('SYS_APP', SYS_WEB . '/sacaliens') ;
// ---------------- host
define('WEB_HOST', 'http://www.mondomain.tld/') ;
// ---------------- web path to the app
define('WEB_APP', '/sacaliens') ;
// ---------------- file path to the translation files
define('SYS_LANG', SYS_APP.'/lang') ;
// ---------------- file path to the template files
define('SYS_TPL', SYS_APP.'/tpl') ;

// ------------------------------------ session name
define('SESSION_NAME', 'sacaliens') ;

// ------------------------------------ application
define('MAX_PER_PAGE', 12) ;
define('INDEX_TAGS_SEUIL', 22) ;

?>
